.footer {
	background: #000000;
	position: fixed;
	bottom: 0;
	height: 60px;
	width: 100%;
	margin-top: 10px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 20px;
	flex-direction: row;

	button {
		background: #ebba24;
		border-radius: 26px;
		padding: 5px 10px;
		color: white;
		font-weight: bold;
		border: none;
		margin: 0 10px;

	}
	a {
		background: inherit;
	}

	* {
		background: #ffffff;
	}
	.grouped-icons {
		background: inherit;
		position: absolute;
		left: 5em;
	}
	.subscribe {
		background: inherit;
		position: absolute;
		right: 5em;

		input {
			padding: 0 10px;
			height:	26px;
			border: none;
		}
	}
}
.icon {
	background: #000000;
	margin: 0 15px;
	* {
		background: #000000;
	}
	img {
		height: 28px;
	}
}

@include tablet-screen {
	.footer {
		justify-content: space-between;

		.grouped-icons {
			position: relative;
			left: 15px;
		}
		.subscribe {
			position: relative;
			right: 15px;
		}
	}
}
