.mint {
	margin-top: 100px;
	margin-bottom: 10px;
	padding: 0 20px;

	.my-button {
	  display: flex;
	  align-items: center;
		background: white;


		img {
			background: inherit;
			height: 26px;
			margin-right: 20px;
			margin-left: 20px;
		}
		h2 {
			background: inherit;
			font-weight: bold;
			color: #000000;
		}
		p{
			margin-left: 10px;
			background: inherit;
		}
	}

	.mint_row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 10px;

		.single_column {
			width: 100%;
			position: relative;
			display: flex;
			align-items: flex-start;

			justify-content: center;
			padding: 0 2px;
			flex-direction: column;

			button {
				flex-direction: row;
				background: white;
				padding: 10px 10px;
				box-shadow: 15px 15px ;
				border: none;
				width: 300px;
				height: 80px;
				margin-bottom: 80px;
			}

		}

	}
}

@include laptop-screen {
	.roadmap {
		padding: 0 100px;
	}
}
@include tablet-screen {
	.mint {
		margin-top: 100px;
		padding-bottom: 40px;
		.mint_row {
			margin: 30px;
			display: flex;
			flex-direction: column-reverse;
			gap: 30px;

			.single_column {
				align-items: start;
				padding: 0;
				.text {
					margin: 10px;
					position: relative;
					h1 {
						font-size: 30px;
					}
					img {
						width: 280px;
					}
				}
			}

		}
	}
}
