.navbar {
	position:fixed;
	background: #000000;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 34px;

	a {
		background-color: #000000;
		img {
			background-color: #000000;
		}
	}

	.menu_btn {
		font-weight: bold;
		font-size: 18px;
		color: #000000;
		background: #ffffff;
		border: 5px solid #000000;
		box-sizing: border-box;
		padding: 6px 15px;
		cursor: pointer;
	}
}
