.solutions2 {
	margin-bottom: 10px;
	padding: 0 20px;
	background-color: #ffffff;

	.solutions2_row {
		background-color: inherit;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 10px;

		.single_column {
			background-color: inherit;
			width: 100%;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0 20px;

			img {
				background-color: inherit;
				padding-top: 40px;
				padding-bottom: 40px;
				width: 35%;
				object-fit: cover;
			}

			.text {
				background-color: inherit;
				position: absolute;
				text-align: center;

				h1 {
					background-color: inherit;
					font-weight: bold;
					font-size: 50px;
					color: #000000;
					margin-top: 40px;
				}

				h2 {
					background-color: inherit;
					font-weight: normal;
					font-size: 25px;
					color: #000000;
					margin-top: 40px;
				}
				p {
					background-color: inherit;
				}
			}
		}
		.list {
			background-color: inherit;
			width: 100%;
			ul {
				background-color: inherit;
				margin-top: 20px;
				list-style: none;

				li {
					background-color: inherit;
					font-weight: 300;
					font-size: 20px;
					text-align: left;
					color: #000000;
					margin-top: 20px;
					img {
						background-color: inherit;
						width: 25px;
						margin-right: 10px;
					}
				}
			}

			.text {
				p {
					font-size: 25 px
				}
			}
		}
	}
}

@include laptop-screen {
	.roadmap {
		padding: 0 100px;
	}
}
@include tablet-screen {
	.solutions2 {
		margin-top: 100px;
		padding-bottom: 40px;
		.solutions2_row {
			display: flex;
			flex-direction: column;
			gap: 30px;

			.single_column {
				align-items: start;
				padding: 0;
				.text {
					position: relative;
					h1 {
						font-size: 30px;
					}
				}
			}
			.list {
				padding: 0 0 0 0;
				align-items: end;
				img {
					width: 100%;
				}
			}
		}
	}
}
