.team {
	margin-top: 80px;
	padding: 80px 200px;
	background: white;
	h1 {
		background: inherit;
	}


	.teams_row {
		margin-top: 35px;
		padding-bottom: 50px;
		display: flex;
		align-items: top;
		justify-content: space-between;
		gap: 57px;
		background: inherit;

		.single_team {
			background: inherit;
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
			flex-direction: column;
			width: 250px;

			.img_container {
				background: inherit;

				img {
					background: inherit;
					width: 150px;
					object-fit: contain;
				}
			}
			h2 {
				background: inherit;
				margin-top: 14px;
				font-weight: bold;
				font-size: 30px;
				line-height: 35px;
			}
			p {
				background: inherit;
				font-weight: 300;
				font-size: 18px;
				line-height: 21px;
				color: #000000;
			}
		}
	}
}

@include laptop-screen {
	.team {
		padding: 0 100px;
	}
}

@include tablet-screen {
	.team {
		padding: 0 20px;
		margin-top: 20px;


		.heading {
			flex-direction: column;
		}

		.teams_row {
			flex-direction: column;
			gap: 40px;

			.single_team {
				h2 {
					margin-top: 10px;
					font-size: 30px;
				}
				p {
					font-size: 16px;
				}
			}
		}
	}
}
