.welcome {
	padding: 0 20px;

	.welcome_row {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.single_column {
			width: 100%;
			position: relative;
			display: flex;
			align-items: center;
			padding: 0 80px;

			img {
				padding-top: 40px;
				padding-bottom: 40px;
				width: 35%;
				object-fit: cover;
			}

			.text {
				position: absolute;
				text-align: center;

				h1 {
					font-weight: bold;
					font-size: 50px;
					color: #000000;
					margin-top: 40px;
				}
			}
		}
		.phone {
			width: 100%;
			margin-top: 50px;
			padding: 0 100px;
			text-align: center;

			img {
				width: 50%;
			}
		}
	}
}

@include laptop-screen {
	.roadmap {
		padding: 0 100px;
	}
}
@include tablet-screen {
	.welcome {
		margin-top: 100px;
		padding: 0 20px;

		.welcome_row {
			display: flex;
			flex-direction: column;

			.single_column {
				align-items: center;
				padding: 0 14px;
				.text {
					position: relative;
				}
			}
			.phone {
				align-items: end;
				img {
					width: 100%;
				}
			}
		}
	}
}
